

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsrce8xS9a6NSyqRQBhP-TmGBQGSCL_aE&sensor=true"></script>

<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>


<div id="map-container">
  <div id="map-canvas" ></div>
</div>


<script type="text/javascript">
// function getPerformances() {  // GETs all Performances from the JSON API

//     $.ajax ({
//       type: "GET",
//       dataType: "json",
//       url: "http://localhost:3000/venues/1/performances.json"   // this is our own JSON from jbuilder!
//     }).done(function(data){
//         performancesData = data
//     });
//   }

// getPerformances();

function initialize() {
  var myLatLng = new google.maps.LatLng(-34.0128358, -118.495338); // we set this as a var because we're going to reuse it for center/marker position -- you can elect to create separate google.maps.LatLng objects
  var showMeMarker;
  var mapOptions = {
    center: myLatLng, // see above
    zoom: 16 // arbitrary; you can zoom at whichever level you like
  };
  var map = new google.maps.Map(document.getElementById("map-canvas"),
      mapOptions); // rendering a map in a div with the id of "map-canvas" and the options specified above in mapOptions

  // Try W3C Geolocation (Preferred)
  if(navigator.geolocation) {
    browserSupportFlag = true;
    navigator.geolocation.getCurrentPosition(function(position) {
      myLatLng = new google.maps.LatLng(position.coords.latitude,position.coords.longitude);
      map.setCenter(myLatLng);
      showMeMarker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      });

    }, function() {
      handleNoGeolocation(browserSupportFlag);
    });
  }
  // Browser doesn't support Geolocation
  else {
    browserSupportFlag = false;
    handleNoGeolocation(browserSupportFlag);
  }

  function handleNoGeolocation(errorFlag) {
    if (errorFlag == true) {
      alert("Geolocation service failed.");

    } else {
      alert("Your browser doesn't support geolocation. We've placed you at beautiful GA");

    }
    map.setCenter(myLatLng);
    showMeMarker = new google.maps.Marker({
      position: myLatLng,
      map: map
    });
  }

  getVenues(); // calls getVenues function

  function getVenues() {  // GETs all Venues spots from the JSON API

    $.ajax ({
      type: "GET",
      dataType: "json",
      url: "http://localhost:3000/venues.json"   // this is our own JSON from jbuilder!
    }).done(function(data){
        mapVenues(data);// calling the mapSpots function on this data
    });
  }



  var iconMarker = {
    url:'assets/Map_Icon.png',
    scaledSize: new google.maps.Size(32,32),
    size: new google.maps.Size(64, 64)

  };

  function mapVenues(venue_data) {

    // for loop to place each marker with info from the JSON

    var i, newMarker, thisVenue;


    for (i=0; i < venue_data.length; i++) {
      thisVenue = venue_data[i];
      if (thisVenue.performances.length > 0) {
        console.log(thisVenue.performances[0].artists)
      }
      newMarker = new google.maps.Marker({
        position: new google.maps.LatLng(venue_data[i].lat, venue_data[i].lng), // sets the LatLng of each spot
        map: map,
        title: (venue_data[i].name),
        icon: iconMarker,
      });
      newMarker.info = new google.maps.InfoWindow({
        content: '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<h1 id="firstHeading" class="firstHeading">'+thisVenue.name+'</h1>'+
      '<div id="bodyContent">'+
      '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
      'sandstone rock formation in the southern part of the '+
      'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
      'south west of the nearest large town, Alice Springs; 450&#160;km '+
      '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
      'features of the Uluru - Kata Tjuta National Park. Uluru is '+
      'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
      'Aboriginal people of the area. It has many springs, waterholes, '+
      'rock caves and ancient paintings. Uluru is listed as a World '+
      'Heritage Site.</p>'+
      '<p>Attribution: Uluru, <a href="http://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
      'http://en.wikipedia.org/w/index.php?title=Uluru</a> '+
      '(last visited June 22, 2009).</p>'+
      '</div>'+
      '</div>'
      });
      google.maps.event.addListener(newMarker, 'click', function() {
        this.info.open(map,this)
      });

      // google.maps.event.addListener(newMarker, 'click', function() {
      //   var boxText = document.createElement("div");
      //   boxText.style.cssText = "border: 1px solid black; margin-top: 8px; background: red; padding: 5px;";
      //   boxText.innerHTML = thisVenue.name;

      //   var myOptions = {
      //      content: boxText
      //     ,disableAutoPan: false
      //     ,maxWidth: 0
      //     ,pixelOffset: new google.maps.Size(-140, 0)
      //     ,zIndex: null
      //     ,boxStyle: {
      //       opacity: 0.75
      //       ,width: "280px"
      //      }
      //     ,closeBoxMargin: "10px 2px 2px 2px"
      //     ,closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif"
      //     ,infoBoxClearance: new google.maps.Size(1, 1)
      //     ,isHidden: false
      //     ,pane: "floatPane"
      //     ,enableEventPropagation: false
      //   };

      //   var ib = new InfoBox(myOptions);
      //   ib.open(map, this);
      // });
    };
  }
}

google.maps.event.addDomListener(window, 'load', initialize);


</script>