<h1>Venues#show</h1>
<p>Find me in app/views/venues/show.html.erb</p>

<div class="row">
	<div class="small-4 columns">Venue Photo Div</div>
	<div class="small-8 columns">Venue Info Div</div>
</div>
<div class="row">
	<div class="small-12 columns">Upcomming Events</div>
</div>
<div class="row">
	<div class="small-12 columns">PLAYLIST</div>
</div>